.blog {
  height: calc(100vh - 3.5rem);
  &__container{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin-top: 3.5rem;
    color: black;
    background: rgba(0, 0, 0, 0.9);
    padding: 1.25rem;
  }
  &__action, &__title, &__content-message, &__categories, &__list-items {
    flex-grow: 1;
    flex-basis: 100%;
    margin-bottom: 1.25rem;
  }
  &__content-message {
    height: 7vh;
  }
  &__title {
    color: black;
    font-weight: bold;
    height: 3vh;
  }
  &__action {
    display: flex;
    justify-content: end;
  }
  &__add-button {
    width: 9.375rem;
    background-color: black;
    color: white;
    max-height: 2.1875rem;
  }

  &__categories {
    border: 0.0625rem solid lightgray;
    background-color: white;
    height: 15vh;
    overflow: hidden;
    overflow-y: auto;
  }

  &__list-items {
    height: 45vh;
    overflow: hidden;
    overflow-y: auto;
  }
}
@media all and (min-width: 600px) {
  .blog{
    &__content-message {
      width: 84.7%;
      margin-left: 15.3%;
    }
    &__list-items{
      flex: 6 0px;
      height: 64vh;
      overflow: hidden;
      overflow-y: auto;
    }
    &__categories {
      flex: 1 0px;
      margin-right: 1.25rem;
      height: 64vh;
    }
    &__title {
      margin-left: 15.3%;
    }
  }
}
