<div class="blog">
  <div class="blog__container">
    <div class="blog__title">Welcome to My Blog</div>
    <div class="blog__content-message">
      <app-blog-content-message></app-blog-content-message>
    </div>
    <div class="blog__action">
      <button class="blog__add-button" (click)="openModal(false)">Add post</button>
    </div>
    <div class="blog__categories">
      <app-blog-categories [blogCategories]="blogCategories"></app-blog-categories>
    </div>
    <div class="blog__list-items">
      <app-blog-list-item
      *ngFor="let item of filteredBlogItems"
      [blogItem]="item"
      (editBlogItemEmmiter)="editBlogItem($event)"
      (deleteBlogItemEmmiter)="deleteBlogItem($event)"
      >
      </app-blog-list-item>
    </div>
  </div>
</div>
