.dialog-header {
  height: 25px;
  font-size: 13px;
  font-weight: bold;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  &__title {
    margin-left: 10px;
  }
  &__btn-wrapper {
    background-color: inherit;
    display: flex;
    justify-content: center;
    margin-right: 2px;
    > :first-child{
      margin-left: 0px;
    }
    .mat-icon {
      font-size: 16px;
      height: 18px;
      width: 18px;
      margin-left: 2px;
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
    }
  }
}

.dialog-content {
  font-size: 12px;
  padding: 20px;
  &__form-field-wrapper {
    display: flex;
    margin-bottom: 20px;
  }
  &__label {
    width: 20%;
    font-weight: bold;
  }
  &__field-wrapper {
    width: 80%;
    input, select, textarea {
      width: 100%;
    }
    textarea {
      height: 100px;
      resize: none;
    }
  }
}

.dialog-action {
  font-size: 12px;
  display: flex;
  justify-content: center;
  button {
    background-color: black;
    color: white;
    width: 70px;
  }
}
